<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="microBlog.mapper.AdminsMapper">
	 <resultMap id="resultAdmins" type="microBlog.entity.Admins" >  
       <result column="admins_id" property="id"></result>  
       <result column="admins_name" property="name"></result>  
       <result column="admins_userName" property="userName"></result> 
       <result column="user_passWord" property="passWord"></result>
       <result column="user_state" property="state"></result>
    </resultMap> 
    <select id="checkLogin" resultMap="resultAdmins">
    	select * from Admins where admins_userName = #{userName} and admins_passWord = #{passWord} and admins_state !=1
    </select>
    <select id="fetchById" resultMap="resultAdmins">
    	select * from Admins where admins_id = #{id}
    </select>
    <select id="fetchByUserName" resultMap="resultAdmins"  >
    	select * from Admins where admins_userName = #{userName}
    </select>
    <insert id="register" keyProperty="id" useGeneratedKeys="true" parameterType="microBlog.entity.Admins">
		INSERT INTO Admins(admins_name,admins_userName,admins_passWord,admins_state) VALUES(#{name}, #{userName}, #{passWord},0)
	</insert>
	<update id="update" parameterType="microBlog.entity.Admins">
		UPDATE Admins
		<set>
			<if test="name != null">admins_name = #{name},</if>
			<if test="userName != null">admins_userName = #{userName},</if>
			<if test="passWord != null">admins_passWord = #{passWord},</if>
			<if test="state != null">admins_state = #{state},</if>
		</set>
		<where>
			admins_id = #{id}
		</where>
	</update>
	<update id="updateState" parameterType="microBlog.entity.Admins“>
		UPDATE Admins
		<set>
			<if test="state != null">admins_state = #{state},</if>
		</set>
		<where>
			admins_id = #{id}
		</where>
	</update>
</mapper>
  	