<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="microBlog.mapper.TopicMapper">
	<resultMap id="resultTopic" type="microBlog.entity.Topic" >  
		 <result column="topic_id" property="id"></result> 
		 <result column="topic_name" property="name"></result> 
		 <result column="topic_time" property="time"></result> 
		 <result column="topic_state" property="state"></result> 
		<association property="user" javaType="microBlog.entity.User" >  
	            <id column="user_id" property="id"/>  
	            <result column="user_email" property="email"/>    
	            <result column="user_nickName" property="nickName"/>    
	       		<result column="user_time" property="time"/>    
	       		<result column="user_status" property="status"/>    
	       </association> 
     </resultMap>
     <sql id="sql">
     	SELECT t.*,u.user_id AS user_id,u.user_email AS user_email,u.user_nickName AS user_nickName,
		u.user_time AS user_time,u.user_status AS user_status
		FROM topic t LEFT JOIN `user` u ON(t.user_id = u.user_id) 
     </sql>
     <select id="fetchById" resultMap="resultTopic">
    	<include refid="sql" /> where t.Topic_id = #{id} ane t.Topic_state != 0
    </select>  
    <update id="update" parameterType="microBlog.entity.Topic">
		UPDATE Admins
		<set>
			<if test="name != null">Topic_name = #{name},</if>
			<if test="state != null">Topic_state = #{state},</if>
		</set>
		<where>
			Topic_id = #{id}
		</where>
	</update>
	<update id="updateState" parameterType="microBlog.entity.Topic">
		UPDATE Topic
		<set>
			<if test="state != null">Topic_state = #{state},</if>
		</set>
		<where>
			Topic_id = #{id}
		</where>
	</update>
	<insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="microBlog.entity.Topic">
		INSERT INTO Topic(Topic_name,Topic_time,Topic_userId,Topic_state) VALUES(#{name},#{time},#{userId},0)
	</insert>
</mapper>
  	